/* animation example*/
.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}
.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}
/*carousel*/
.carousel-enter{
  opacity: 0.01;
  transition: opacity .5s ease-in;
}
.carousel-enter.carousel-enter-active {
  opacity: 1;
}
.carousel-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.carousel-leave.carousel-leave-active {
  opacity: 0.01;
}